<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aliqin.mytel">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".DemoApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        >
        <activity
            android:name=".login.OneKeyLoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>




<!--        <activity android:name=".login.OneKeyLoginActivity"-->
<!--            android:configChanges="orientation|keyboardHidden|screenSize"-->
<!--            android:screenOrientation="sensorPortrait"/>-->


        <activity android:name=".auth.NumberAuthActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"/>

        <activity android:name=".auth.PersonActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"/>


        <activity android:name=".MessageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"/>
        <!--重点关注！！！！！！！-->
        <!--客户在使用全屏模式时不需要使用authsdk_activity_dialog主题，会出现异常动画-->
        <activity
            android:name="com.mobile.auth.gatewayauth.LoginAuthActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
            android:theme="@style/authsdk_activity_dialog" />

        <activity
            android:name="com.mobile.auth.gatewayauth.activity.AuthWebVeiwActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="behind" />

    </application>

</manifest>